<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>
<tr class="border-b text-left ">
  <td class="p-0">
    <div class="text-left font-sans px-5 py-3 ">
      <div id="recording-title" class="form-inline font-bold edit_hover_class" >
          <% if recording[:metadata][:name] %>
              <text id='recording-title-text' class="text-wrap input recording-text"><%= recording[:metadata][:name] %></text>
          <% else %>
            <text id='recording-title-text' class="text-wrap input recording-text"><%= recording[:name] %></text>
          <% end %>
    
      </div>
      <div id="recording-description" class="form-inline edit_hover_class" 
           data-recordid="<%= recording[:recordID] %>" 
           data-launch-nonce="<%= @launch_nonce %>"
        <text id='recording-description-text' class="text-wrap recording-text"><%= recording[:metadata][:description] %></text>
          
      </div>
    </div>
  </td>

  <td class="p-0 text-left font-sans px-6 py-3">
    <%= recording_date(recording[:startTime]) %>
  </td>

  <td class="p-0 text-left font-sans px-6 py-3">
    <%= recording_length(recording[:playbacks]) %>
  </td>

  <td class="p-0 text-left px-6 py-2" style='white-space: nowrap'>
    <div class="flex items-end ">
        <% sorted_playbacks = recording[:playbacks].sort_by { |hsh| hsh[:type] }%>
        <% sorted_playbacks.each do |p| %>
          <% if p[:type] == 'presentation' %>
            <%= link_to p[:url], :'data-toggle' => 'tooltip' , title: p[:type], target: "_blank", class: "mr-4 hover:bg-white hover:text-blue-700" do %>
              <div class="bg-gray-200 p-2 rounded hover:bg-gray-300">
                <div class= "bg-bbb-blue rounded-full" >
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 bg-bbb-blue text-blue-600 m-2" fill="none" viewBox="0 0 22 22" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
                    </svg>
                </div>
              </div>  
            <% end %>
          <% elsif p[:type] == 'statistics' %>
            <%= link_to p[:url], :'data-toggle' => 'tooltip' , title: p[:type], target: "_blank" , class: "mr-4 hover:bg-white hover:text-blue-700 " do %>
              <div class="bg-gray-200 p-2 rounded hover:bg-gray-300">
                <div class= "bg-bbb-blue rounded-full">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 bg-bbb-blue text-blue-600 m-2 " fill="none" viewBox="0 0 22 22" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z" />
                  </svg>
                </div>
              </div>
            <% end %>
          <% elsif p[:type] == 'video' %>
            <%= link_to p[:url], :'data-toggle' => 'tooltip' , title: p[:type],  target: "_blank", class: "mr-4 hover:bg-white hover:text-blue-700" do %>
              <div class="bg-gray-200 p-2 rounded hover:bg-gray-300">
                <div class= "bg-bbb-blue rounded-full">
                  <svg xmlns="http://www.w3.org/2000/svg"  class="h-5 w-5 bg-bbb-blue text-blue-600 m-2 " fill="none" viewBox="0 0 22 22" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
                </div>
              </div>
            <% end %> 
          <% else # other format %> 
            <%= link_to p[:url], :'data-toggle' => 'tooltip' , title: p[:type],  target: "_blank", class: "mr-4 hover:bg-white hover:text-blue-700" do %>
              <div class="bg-gray-200 p-2 rounded hover:bg-gray-300">
                <div class= "text-blue-600 rounded-full">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 bg-bbb-blue text-blue-600 m-2" fill="none" viewBox="0 0 22 22" stroke-width="1.5" stroke="currentColor" >
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244" />
                  </svg>
                </div>
              </div>
            <% end %>
          <% end %>
      <% end %> <%# end of sorted playbacks %>
    </div>
  </td>
    
  <td class="p-0 text-left mx-6 mr-2 px-2 my-4">
    <div class="item-action dropdown place-items-center items-center">
      <% dropdown_id = "dropdown#{recording[:recordID]}"%>
      <a href="javascript:void(0)" id="dropdownDefault" type="button"  data-dropdown-toggle=<%="dropdown#{recording[:recordID]}"%> class="bg-white no-underline text-gray-700 hover:text-blue-700 hover:bg-white">
        <%# vertical elipses icon %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
        </svg>
      </a>        
      <div aria-labelledby="dropdownDefault" id=<%="dropdown#{recording[:recordID]}"%> class="hidden dropdown-content dropdown-menu dropdown-menu-right w-52" aria-labelledby="dropdownDefault">
      </div>      
        
    </div>
  </td>
</tr>
